{% if adresse == "public-admin" and is_granted("ROLE_ADMIN") %}
    {% set mot = 'Statuts' %}
{% else %}
    {% set mot = 'Thèmes' %}
{% endif %}

<form class="nv-msg" name="message" method="post">
    <div class="form-champ" style="flex-wrap: wrap; background-color: transparent; border: none;">
        <label for="titre">Titre du message :</label>
        <input type="text" name="message[titre]" id="titre" required placeholder="Un titre clair et simple favorise la compréhension" value="{{ message.titre }}">
    </div>
    <div class="form-champ" style="flex-wrap: wrap; background-color: transparent; border: none;">
        <label for="msg">Votre message :</label>
        <textarea name="message[contenu]" id="msg"rows="7" style="height: auto;" required >{{ message.contenu }}</textarea>
    </div>
    <div class="form-champ" style="flex-wrap: wrap; background-color: transparent; border: none;">
        <label for="themes">{{ mot }} de votre message :</label>
        {% set i = 0 %}
        {% set categorieList = "" %}
        {% for categorie in message.categories %}
            {% if i == 0 %}
                {% set categorieList = categorie %}
                {% set i = 1 %}
            {% else %}
                {% set categorieList = categorieList ~ ";" ~ categorie %}
            {% endif %}
        {% endfor %}
        <input type="text" name="categories" id="themes" placeholder='séparé par ";" ex: points ; duels ; ...' value="{{ categorieList }}">
    </div>
    {{ form_row(form._token) }}
    <div class="submit" style="width: 50%; margin: 0 auto;">
        <button style="height: 5vh;">Envoyer</button>
    </div>
</form>